@import url('https://fonts.googleapis.com/css2?family=Abel&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* for paragraphs etc  */
.abel-regular {
    font-family: "Abel", serif;
    font-weight: 400;
    font-style: normal;
}

body * {
    font-family: "Abel", serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Titillium Web", serif !important;
}

h1,
h2 {
    font-weight: 700 !important;
}

h3,
h4 {
    font-weight: 400 !important;
}

h5,
h6 {
    font-weight: 200 !important;
}


/* for headings  */
.titillium-web-extralight {
    font-family: "Titillium Web", serif;
    font-weight: 200;
    font-style: normal;
}

.titillium-web-light {
    font-family: "Titillium Web", serif;
    font-weight: 300;
    font-style: normal;
}

.titillium-web-regular {
    font-family: "Titillium Web", serif;
    font-weight: 400;
    font-style: normal;
}

.titillium-web-semibold {
    font-family: "Titillium Web", serif;
    font-weight: 600;
    font-style: normal;
}

.titillium-web-bold {
    font-family: "Titillium Web", serif;
    font-weight: 700;
    font-style: normal;
}

.titillium-web-black {
    font-family: "Titillium Web", serif;
    font-weight: 900;
    font-style: normal;
}

.titillium-web-extralight-italic {
    font-family: "Titillium Web", serif;
    font-weight: 200;
    font-style: italic;
}

.titillium-web-light-italic {
    font-family: "Titillium Web", serif;
    font-weight: 300;
    font-style: italic;
}

.titillium-web-regular-italic {
    font-family: "Titillium Web", serif;
    font-weight: 400;
    font-style: italic;
}

.titillium-web-semibold-italic {
    font-family: "Titillium Web", serif;
    font-weight: 600;
    font-style: italic;
}

.titillium-web-bold-italic {
    font-family: "Titillium Web", serif;
    font-weight: 700;
    font-style: italic;
}



.items-container::-webkit-scrollbar,
.trendingProdCatButtons::-webkit-scrollbar {
    display: none !important;
}



/* .hero-banner {
    transition: 500ms;
    animation: ani 800ms linear alternate;
}


@keyframes ani {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0px);
    }
} */